<div class="footer">
  <div class="footer-links">
    <a href="#"><%=image_tag "logos/square-instagram.svg", class: 'logos-img'%></a>
    <a href="#"><%=image_tag "logos/linkedin.svg", class: 'logos-img' %></a>
    <a href="mailto:lessaveursdemassalia@gmail.com"><%=image_tag "logos/square-envelope-solid.svg", class: 'logos-img' %></a>
  </div>
  <div class="footer-copyright">
    <p>"Les Saveurs de Massalia"</p>
    <p>68 Avenue de la Figone 13012 Marseille</p>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2024 VotreSite. Tous droits réservés.</p>
    <p><a href="#">Mentions légales</a> | <a href="#">Politique de confidentialité</a> | <a href="#">Conditions d'utilisation</a></p>
  </div>
</div>
