<div class="footer">
  <div class="footer-links">
    <a href="#"><%=image_tag "logos/square-instagram.svg", class: 'logos-img'%></a>
    <a href="#"><%=image_tag "logos/linkedin.svg", class: 'logos-img' %></a>
    <a href="mailto:lessaveursdemassalia@gmail.com"><%=image_tag "logos/square-envelope-solid.svg", class: 'logos-img' %></a>
  </div>
  <div class="footer-copyright">
    <span>"Les Saveurs de Massalia"</span>
    <span>68 Avenue de la Figone 13012 Marseille</span>
  </div>
</div>
