.container-candy {
  display: flex;
  width: auto;
  flex-direction: row;
  text-align: center;
  height: 90vh;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;

  .form-candy {
    width: 20vw;
    margin: auto;

    img {
      width: 8vw;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .search-form-candy {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      input[type="text"] {
        width: 14vw;
        margin: auto;
        margin-bottom: 5px;
        color: $color-5;
        padding: 8px;
        font-size: x-small;
        font-family: $font-2;
        border: 2px solid $color-3;
        border-radius: 10px;
      }

      input[type="submit"] {
        width: 10vw;
        margin: auto;
        background-color: $color-1;
        color: $color-4;
        font-family: $font-2;
        padding: 5px;
        font-size: x-small;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .form-search-category{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin: auto;

      .container-gallery-form {
        width: 20vw;

        .mobile-dropdown {

          .btn-filtre-container {
            background-color: $color-4;
            width: 17vw;
            font-size: x-small;
            margin: auto;
            color: $color-5;
            font-family: $font-2;
            border-radius: 10px;
            border: 1px solid $color-3;
          }
          .category-options-candy {

            .category-li-candy {
              padding: 4px;
              margin-bottom: 5px;

              .bl-txt {
                font-size: 12pt !important;
              }

              .category-button {
                display: inline-block;
                justify-content: center;
                font-family: $font-2;
                background-color: $color-4;
                border: 1px solid $color-1;
                padding: 3px;
                width: 15vw;
                border-radius: 10px;
                font-size: x-small;
                color: $color-5;
              }


            }
          }
        }
      }
    }
  }

  .container-gallery-candys {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 20px;
    gap: 10px;
    overflow: auto;
    align-items: center;
    justify-content: space-evenly;

    .cards-gallery-candys {
      width: 10vw;
      height: auto;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid $color-1;

      .gallery-candys {
        border-radius: 10px;
        background-color: $color-2;

        .container-size-img {
          margin-top: 10px;

          .img-candy{
            height: 10vh;
            width: 10vh;
            margin-top: 10px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .container-size-text {
          height: auto;
          color: $color-5;

          .span-candy-name {
            display: block;
            font-size: 10pt;
            font-family: $font-1;
            color: $color-1;
            text-align: center;
            margin: 10px;
          }

          .span-candy-category {
            display: block;
            text-align: center;
            font-family: $font-1;
            font-size: 9pt;
            margin: 10px;
          }

          .span-candy-unity {
            display: block;
            text-align: center;
            font-family: $font-1;
            font-size: 10pt;
            margin: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form-candy {
    width: 90vw !important;
    margin: auto !important;
  }

  .container-candy {
    flex-direction: column !important;
    height: auto !important;
  }

  .container-candy button {
    margin: 2px;
    width: auto !important;
  }

  .img-candy {
    height: 8vh !important;
    width: 8vh !important;
  }

  .container-size-img {
    height: 10vh;
    margin-top: 20px;
  }

  .search-form-candy {
    margin-bottom: 2px;
  }

  .search-form-candy input[type="text"] {
    width: 80vw !important;
    margin: 10px;
  }

  .search-form-candy input[type="submit"] {
    width: 80vw !important;
  }

  .form-search-category{
    width: 90vw !important;
  }

  .btn-filtre-container {
    width: auto !important;
  }

  .container-gallery-form {
    width: 90vw !important;
  }

  .span-candy-category {
    font-size: x-small;
    margin: 10px;
  }

  .span-candy-name {
    font-size: smaller;
  }

  .container-gallery-candys {
    width: auto !important;
  }

  .cards-gallery-candys {
    width: 25vw !important;
  }

  .category-options-candy {
    display: ruby;
  }

  .form-candy img {
    display: none;
  }

}
