/* Styles pour container-candy */
.container-candy {
  text-align: center;
  margin: 50px 200px 50px 200px;
  padding: 20px;
}

/* Styles pour le formulaire de recherche */
.search-form {
  margin-bottom: 20px;
}

/* Styles pour le champ de recherche */
.search-form input[type="text"] {
  width: 300px;
  padding: 10px;
  font-family: 'Avenir', 'cursive';
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styles pour le bouton de recherche */
.search-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Avenir', 'cursive';
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles pour les boutons de filtre */
.container-candy label {
  display: inline-block;
  margin-right: 10px;
  color: $color-5;
  font-family: 'Avenir', 'cursive';
  font-weight: bold;
}

.btn-filtre-candy {
  background-color: $color-4;
  color: $color-5;
  font-family: 'Avenir', 'cursive';
  border-radius: 25px;
  border: 1px solid $color-3;
}

/* Styles pour la galerie de confiseries */
.container-gallery-candy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-candy {
  width: 200px;
  margin: 10px;
  text-align: center;
  background-color: $color-4;
  border: 1px solid #ec571e;
  border-radius: 25px;
}

.candy-size-img {
  height: 200px;
}

.candy-size-text {
  height: auto;
}

.img-candy {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  margin-top: 20px;
}

.span-candy-name {
  display: block;
  font-size: 15pt;
  text-align: center;
  font-family: 'Shantell Sans', 'cursive';
  color: $color-1;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.span-candy-category {
  display: block;
  font-size: 10pt;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


@media screen and (max-width: 1000px) {

  .container-candy {
    text-align: center;
    margin: 0;
    padding: 20px;
  }

}
