.container-blocks-contact{
  height: 85vh;

  .block-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    height: 42vh;
    margin: auto;

    .vignette-logo-mobile {
      display: none;
      position: absolute;
    }

    .vignette-profil {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      backdrop-filter: blur(10px);
      border-radius: 10px;
      margin-top: 50px;
      width: 20vw;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .background-vignette-profil{
        backdrop-filter: blur(10px);
        border-radius: 10px 10px 0px 0px;
        background-color: $color-3;
        padding-top: 20px;
        padding-bottom: 20px;

        .avatar-large {
          width: 10vw;
          height: 10vw;
          margin: auto;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid $color-1;
        }
      }
    }

    .vignette-text {
      font-family: $font-2;
      color: $color-5;
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: space-evenly;

      span{
        padding: 10px;
      }
    }

    .vignette-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 20px;
      width: 15vw;
    }
  }

  .text-contact {
    margin: 20px;
    height: 42vh;
    text-align: center;

    span {
      width: 60vw;
      margin: auto;
      color: $color-5;
      font-family: $font-2;
      font-size: 2rem;
      font-style: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .btn-mail {
      padding: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;

      a {
        font-family: $font-2;
        background-color: $color-1;
        padding: 10px;
        font-style: bold;
        color: $color-4;
        border-radius: 25px;
        border: 1px solid $color-4;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .block-contact {
    flex-direction: column !important;
  }

  .container-blocks-contact{
    height: auto;
  }

  .background-vignette-profil {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vignette-profil {
    margin: auto;
    width: 80vw !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .avatar-large {
    width: 40vw !important;
    height: 40vw !important;
  }
  .vignette-logo {
    display: none !important;
  }

  .vignette-logo-mobile {
    display: block;
    margin: auto;
    width: 60vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vignette-logo-mobile img{
    width: 30vw;
  }
}
