.container-container {
  display: flex;
  width: auto;
  flex-direction: row;
  text-align: center;
  height: 85vh;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;

  .form-container {
    width: 20vw;

    img {
      width: 8vw;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .search-form {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input[type="text"] {
        width: 14vw;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $color-5;
        padding: 8px;
        font-size: x-small;
        font-family: $font-2;
        border: 2px solid $color-3;
        border-radius: 25px;
      }

      input[type="submit"] {
        width: 14vw;
        margin: auto;
        background-color: $color-1;
        color: $color-4;
        font-family: $font-2;
        padding: 8px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
      }
    }

    .form-search-category{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin: auto;

      .container-gallery-form {
        width: 20vw;

        .mobile-dropdown {

          .btn-filtre-container {
            background-color: $color-4;
            width: 14vw;
            font-size: x-small;
            margin: auto;
            color: $color-5;
            font-family: $font-2;
            border-radius: 25px;
            border: 1px solid $color-3;
          }

          .category-options {

            .category-li {
              padding: 4px;
            }

            .category-button {
              display: inline-block;
              justify-content: center;
              font-family: $font-2;
              background-color: $color-4;
              border: 1px solid $color-1;
              padding: 3px;
              margin: auto;
              width: 15vw;
              border-radius: 25px;
              font-size: x-small;
              color: $color-1;
            }

          }
        }
      }
    }
  }
  .container-gallery-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 85vh;
    justify-content: space-around;

    .cards-gallery-container {

      .gallery-container {
        width: 17vw;
        height: auto;
        margin: 10px;
        border: 1px solid $color-1;
        border-radius: 25px;
        text-align: center;
        background-color: $color-4;

        .container-size-img {
          height: 15vh;
          margin-top: 20px;

          .img-container {
            height: 13vh;
            width: 13vh;
            object-fit: contain;
            border-radius: 50%;
          }
        }
        .container-size-text {
          height: auto;
          color: $color-5;

          .span-container-name {
            display: block;
            font-size: 15pt;
            font-family: $font-1;
            color: $color-1;
            text-align: center;
            margin: 10px;
          }

          .span-container-category {
            display: block;
            text-align: center;
            font-size: 10pt;
            margin: 10px;
            padding-bottom: 10px;
          }

          .span-container-dim {
            display: block;
            text-align: center;
            font-size: 10pt;
            margin: 10px;
            padding-bottom: 10px;
          }

        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .gallery-container {
    width: 15vw;
    height: 30vh;
  }
}
@media screen and (max-width: 768px) {

  .form-container {
    width: 90vw !important;
    margin: auto !important;
  }

  .gallery-container {
    width: 40vw !important;
  }

  .container-container {
    flex-direction: column !important;
  }

  .container-container button {
    margin: 2px;
    width: auto !important;
  }

  .img-container {
    height: 10vh !important;
    width: 10vh !important;
  }

  .container-size-img {
    height: 10vh;
    margin-top: 20px;
  }

  .category-li {
    margin: 2px;
  }

  .search-form {
    margin-bottom: 2px;
  }

  .search-form input[type="text"] {
    width: 80vw !important;
    margin: 10px;
  }

  .search-form input[type="submit"] {
    width: 80vw !important;
  }

  .form-search-category{
    width: 90vw !important;
  }

  .btn-filtre-container {
    width: auto !important;
  }

  .container-gallery-form {
    width: 90vw !important;
  }

  .span-container-category {
    font-size: x-small;
    margin: 10px;
  }

  .span-container-name {
    font-size: smaller;
  }

  .category-options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85vw;
  }

  .form-container img {
    display: none;
  }

}
