.container-blocks-contact{

  .block-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: auto;
    padding-top: 50px;
    margin: auto;

    .vignette-logo-mobile {
      display: none;
      position: absolute;
    }

    .vignette-profil {
      display: flex;
      width: 30vw;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .background-vignette-profil-1{
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;

        .vignette-text {
          position: absolute;
          z-index: 100;
          display: flex;
          flex-direction: column;
          backdrop-filter: blur(10px);
          background-color: $color-2;
          font-family: $font-2;
          color: $color-5;
          margin: auto;
          border-radius: 5px;
          padding-top: 20px;
          padding-bottom: 20px;
          bottom: 0;
          right: 0;

          span{
            font-size: 10pt;
            padding: 5px;
          }
        }

        .avatar-large-1 {
          backdrop-filter: blur(10px);
          background-color: $color-3;
          border-radius: 5ch;
          width: 25vw;
          height: 25vw;
          object-fit: contain;
        }
      }

      .background-vignette-profil{
        position: relative;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 10;

        .vignette-text {
          z-index: 100;
          bottom: 0;
          position: absolute;
          display: flex;
          flex-direction: column;
          backdrop-filter: blur(10px);
          background-color: $color-3;
          font-family: $font-2;
          color: $color-5;
          margin: auto;
          border-radius: 5px;
          padding-top: 20px;
          padding-bottom: 20px;
          bottom: 0;

          span{
            font-size: 10pt;
            padding: 5px;
          }
        }

        .avatar-large {
          border-radius: 55px;
          backdrop-filter: blur(10px);
          background-color: $color-2;
          width: 25vw;
          height: 25vw;
          object-fit: contain;
        }
      }
    }

    .vignette-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 20px;
      width: 15vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .block-contact {
    flex-direction: column !important;
    height: auto !important;
  }

  .container-blocks-contact{
    height: auto;
  }

  .background-vignette-profil {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vignette-profil {
    margin: auto;
    width: 80vw !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .avatar-large {
    width: 40vw !important;
    height: 40vw !important;
  }
  .vignette-logo {
    display: none !important;
  }

  .vignette-logo-mobile {
    display: block;
    margin: auto;
    width: 60vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vignette-logo-mobile img{
    width: 30vw;
  }
}
