/* Styles pour container-container */
.container-container {
  display: flex;
  width: auto;
  flex-direction: unset;
  text-align: center;
  height: 85vh;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

/* Styles pour le formulaire de recherche */
.search-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-container {
  width: 20vw;
}

.form-container img {
  width: 8vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Styles pour le champ de recherche */
.search-form input[type="text"] {
  width: 14vw;
  margin: auto;
  color: $color-5;
  padding: 10px;
  font-size: small;
  font-family: 'Avenir', 'cursive';
  border: 2px solid $color-3;
  border-radius: 25px;
}

/* Styles pour le bouton de recherche */
.search-form input[type="submit"] {
  width: 14vw;
  margin: auto;
  background-color: $color-1;
  color: $color-4;
  font-family: 'Avenir', 'cursive';
  padding: 10px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.form-search-category{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.btn-filtre-container {
  background-color: $color-4;
  width: 14vw;
  font-size: x-small;
  margin: auto;
  color: $color-5;
  font-family: 'Avenir', 'cursive';
  border-radius: 25px;
  border: 1px solid $color-3;
}

/* Styles pour les boutons de filtre */
.category-button {
  display: inline-block;
  justify-content: center;
  font-family: 'Avenir', 'cursive';
  background-color: $color-4;
  border: 1px solid $color-1;
  padding: 3px;
  margin: auto;
  width: 14vw;
  border-radius: 25px;
  font-size: x-small;
  color: $color-1;
}

.container-gallery-form {
  width: 20vw;
}

/* Styles pour la galerie de conteneurs */
.container-gallery-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 85vh;
  justify-content: space-around;
}

.gallery-container {
  width: 25vw;
  height: auto;
  margin: 10px;
  background-color: $color-2;
  border: 1px solid $color-1;
  border-radius: 25px;
  text-align: center;
  background-color: $color-4;
}

.category-li {
  padding: 4px;
}

.container-size-img {
  height: 15vh;
  margin-top: 20px;
}

.container-size-text {
  height: auto;
  color: $color-5;
}

.img-container {
  height: 13vh;
  width: 13vh;
  object-fit: contain;
  border-radius: 50%;
}

.text-container {
  margin-top: 10px;
}

.span-container {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.span-container-name {
  display: block;
  font-size: 15pt;
  font-family: $font-1;
  color: $color-1;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.span-container-category {
  display: block;
  text-align: center;
  font-size: 10pt;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.span-container-dim {
  display: block;
  text-align: center;
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1000px) {
  .gallery-container {
    width: 15vw;
  }
}
@media screen and (max-width: 768px) {

  .form-container {
    width: 90vw;
  }

  .container-container {
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 20px;
  }

  .container-container button {
    margin: 2px;
    width: auto;
  }

  .img-container {
    height: 10vh;
    width: 10vh;
    object-fit: contain;
    border-radius: 50%;
  }

  .container-size-img {
    height: 10vh;
    margin-top: 20px;
  }

  .category-li {
    margin: 2px;
  }

  .search-form {
    margin-bottom: 2px;
  }

    /* Styles pour le champ de recherche */
  .search-form input[type="text"] {
    width: 80vw;
    color: $color-5;
    padding-top: 5px;
    font-size: small;
    font-family: 'Avenir', 'cursive';
    border: 2px solid $color-3;
    border-radius: 25px;
  }

  /* Styles pour le bouton de recherche */
  .search-form input[type="submit"] {
    background-color: $color-1;
    width: 80vw;
    color: $color-4;
    font-family: 'Avenir', 'cursive';
    padding-top: 5px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }

  .form-search-category{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0;
  }

  .span-container-category {
    display: block;
    text-align: center;
    font-size: x-small;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .span-container-dim {
    font-size: x-small;
  }

  .span-container-name {
    font-size: smaller;

  }

  .container-gallery-container {
    height: auto;
    width: 90vw;
  }

  /* Masquer les boutons radio par défaut */
  .category-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
  }

  .gallery-container {
    width: 30vw;
    height: auto;
  }

  .category-label {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: $color-1;
    color: $color-4;
    border-radius: 25px;
  }

  /* Styles pour les étiquettes de catégorie survolées */
  .category-label:hover {
    background-color: #f0f0f0; /* Couleur de fond au survol */
  }

  .form-container img {
    display: none;
  }

}
