.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-image {
  width: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container-image img {
  margin: auto;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.container-text {
  width: 50%;
  margin: auto;
}

.container-text h1 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.container-text p {
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

.background-img {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.collab {
  width: 70%;
  margin: auto;
  text-align: center;
  color: white;
}

.collab-logos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}
