@import "variable";

.container-blocks {
  width: 100vw;

  .news-banner {
    display: flex;
    width: 70vw;
    height: auto;
    margin: auto;
    flex-direction: row;
    overflow: scroll;
    padding-top: 20px;
    padding-left: 20px;

    .cards-gallery-news {
      position: relative;
      padding-left: 20px;
      padding-right: -20px;

      .gallery-news {
        width: 6vw;

        .img {
          width: 10vh;
          height: 10vh;
        }

        .img-news {
          position: absolute;
          width: 4vh;
          height: 4vh;
          margin-left: -20%;
          margin-top: -10%;
        }
      }
    }
  }

  .banner {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;

    .container-text {
      width: 80vw;
      text-align: center;
      margin: auto;
      margin-top: 20px;

      .logo-animation {
        width: 20vw;
        height: 20vw;
        position: relative;
        padding-bottom: 20px;
        margin: auto;

        .logo {
          position: absolute;
          left: 0;
          top: 30px;
        }

        .logo-1 {
          -webkit-animation: logo-move 1s both;
          animation: logo-move 1s both;
        }

        .logo-3 {
          -webkit-animation: logo-move 2.5s both;
          animation: logo-move 2.5s both;
        }
      }

      .accroche {
        font-size: 2rem;
        color: $color-1;
        text-transform: uppercase;
        text-align: center;
        font-family: $font-2;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      h2 {
        color: $color-5;
        padding-top: 10px;
        text-align: center;
        font-family: $font-2;
      }
    }
  }

  .collab {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $color-3;
    background-image: url('background/baptiste-buisson-PxV_-NDeEys-unsplash.jpg');
    background-blend-mode: lighten;
    background-size: cover;

    h2 {
      font-size: 2rem;
      color: $color-1;
      text-transform: uppercase;
      text-align: center;
      font-family: $font-2;
      padding-bottom: 30px;
    }

    p {
      color: $color-5;
      width: 80vw;
      margin: auto;
      margin-top: 50px;
      text-align: center;
      font-family: $font-2;
    }

    .collab-logos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20%;
      padding-right: 20%;

      .collab-logos-container {
        img {
          height: 15vw;
          width: 15vw;
          object-fit: contain;
          display: block;
          margin: auto;
        }
      }
    }
  }

  .collab-populaire {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

    img {
      width: 15vw;
      margin: auto;
    }

    h2 {
      font-size: 2rem;
      color: $color-1;
      text-transform: uppercase;
      text-align: center;
      font-family: $font-2;
      padding-bottom: 30px;
    }

    p {
      width: 50%;
      margin: auto;
      font-family: $font-2;
      text-align: center;
      color: $color-5;
    }
  }
}

@media screen and (max-width: 1000px) {
  .banner {
    align-items: center;
    flex-direction: column !important;
  }

  .carousel {
    width: 100vw;
  }

  .carousel-slide {
    top: 0 !important;
  }

  .container-text {
    width: 80vw;
    text-align: center;
    margin: auto;
  }

  .carousel-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    margin: auto;
    transition: transform 0.5s ease-in-out;
  }

  .collab p {
    color: $color-5;
    width: 80vw;
    text-align: center;
    font-family: $font-2;
  }

  .collab-logos-container {
    width: 14vw !important;
    height: 14vw !important;

    img {
      height: 13vw !important;
      width: 13vw !important;
    }
  }
}

@media screen and (max-width: 500px) {

  .gallery-news {
    width: 14vw !important;
}
  .logo-animation {
    width: 40vw !important;
    height: 40vw !important;
  }

  .accroche {
    font-size: 1rem !important;
  }

  .carousel-container {
    height: 36vh;
  }

  .carousel-slide {
    height: 35vh !important;
  }

  .carousel-slide img {
    height: 35vh !important;
    width: 35vh !important;
  }

  .collab {
    h2 {
      font-size: 1rem !important;
      width: 80vw !important;
      margin: auto !important;
    }
  }

  .collab-logos-container {
    width: 25vw !important;
    height: 25vw !important;

    img {
      height: 24vw !important;
      width: 24vw !important;
    }
  }

  .collab-populaire {

    h2 {
      font-size: 1rem !important;
    }

    img {
      width: 50vw;
    }
  }
}
