<div class="container-blocks container-gallery-candy">
  <% @candys.each do |candy| %>
    <div class="gallery-candy">
      <%= image_tag "confiseries/#{candy.img}", class: "img-candy", alt:"#{candy.tag}" %>
      <div>
        <span class="span-candy"><%= candy.name %></span>
        <span class="span-candy"><%= candy.category %></span>
      </div>
    </div>
  <% end %>
</div>
