<div class="container-blocks-contact">
  <div class="block-contact">
    <div class="vignette-logo-mobile">
      <%= image_tag "logos/SaMass-Full-Color.svg" %>
    </div>
    <div class="vignette-profil">
      <div class="background-vignette-profil">
        <%= image_tag "profil/profil-2.jpg", class: "avatar-large", alt: "avatar-large" %>
      </div>
      <div class="vignette-text">
        <span>Hana MECHAIGUI</span>
        <span>Tel : 06 51 50 46 43</span>
      </div>
    </div>
    <div class="vignette-logo">
      <%= image_tag "logos/SaMass-Full-Color.svg" %>
    </div>
    <div class="vignette-profil">
      <div class="background-vignette-profil">
        <%= image_tag "profil/profil-1.jpg", class: "avatar-large", alt: "avatar-large" %>
      </div>
      <div class="vignette-text">
        <span>Philippe DUFOSSE</span>
        <span>Tel : 06 11 23 69 47</span>
      </div>
    </div>
  </div>
  <div class="text-contact">
    <p>Un devis !</p>
    <p>Un rendez-vous !</p>
    <div class="btn-mail">
      <a href="mailto:bertrand.vanden.neste@gmail.com">Cliquez-ici</a>
    </div>
  </div>
</div>
