<div class="container-blocks">
  <div class="block-contact">
    <div class="vignette-profil">
      <%= image_tag "profil/profil-1.jpg", class: "avatar-large", alt: "avatar-large" %>
      <span>Hana Mechaigui</span>
      <span>Tel : 06 51 50 46 43</span>
    </div>
    <div class="vignette-profil">
      <%= image_tag "profil/profil-2.jpg", class: "avatar-large", alt: "avatar-large" %>
      <span>Philippe Dufossé</span>
      <span>Tel : 06 11 23 69 47</span>
    </div>
  </div>
  <div class="text-contact">
    <p>Rejoignez-nous dans cette aventure gourmande où l'inclusion et la délicatesse se rencontrent pour créer des moments sucrés inoubliables. Découvrez notre gamme de goûters uniques, et faites partie de notre mission visant à rendre le monde plus savoureux et plus inclusif.</p>
  </div>
  <div class="btn-mail">
    <a href="mailto:bertrand.vanden.neste@gmail.com">Envoyer un Email</a>
  </div>
</div>
