<div class="container-blocks-contact">
  <div class="block-contact">
    <div class="vignette-logo-mobile">
      <%= image_tag "logos/SaMass-Full-Color.svg" %>
    </div>
    <div class="vignette-profil">
      <div class="background-vignette-profil-1">
        <%= image_tag "profil/ameer-basheer-ABuzWPku1Ug-unsplash-removebg-preview.png", class: "avatar-large-1", alt: "avatar-large" %>
        <div class="vignette-text">
          <span>Philippe DUFOSSE</span>
          <span>06 11 23 69 47</span>
        </div>
      </div>
    </div>
    <div class="vignette-logo">
      <%= image_tag "logos/SaMass-Full-Color.svg" %>
    </div>
    <div class="vignette-profil">
      <div class="background-vignette-profil">
        <div class="vignette-text">
          <span>Hana MECHAIGUI</span>
          <span>06 51 50 46 43</span>
        </div>
        <%= image_tag "profil/sofia-mQtcrK22CN8-unsplash-removebg-preview.png", class: "avatar-large", alt: "avatar-large" %>
      </div>
    </div>
  </div>
</div>
