<div class="banner" style="background-image: url('<%= asset_path("snack.jpg") %>');">
  <div class="container-card">
    <h1>Les saveurs de Massalia</h1>
    <p>Phrase d'accorche</p>
  </div>
</div>
<div class="container-card">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
</div>
